USE [SEBASTIAN_HR]
GO
/****** Object:  View [dbo].[VPERS_Empleados_Usuarios]    Script Date: 28/05/2026 13:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE       VIEW [dbo].[VPERS_Empleados_Usuarios] AS    
SELECT  E.FullName, isnull(Email, E.Mail) AS Email, A.Id, E.EmployeeId, A.UserName    
FROM Employees E     
JOIN [SEBASTIAN_HR_IC].dbo.AspNetUsers A    
ON E.EmployeeId = A.Reference    
WHERE A.OriginId =2  
AND LEN(Email) > 0  
AND A.Locked = 0
AND E.Blocked = 0
GO
