.hr-label {
    /*color: white;*/
    text-align: center;
    border-radius: 5px;
    padding: 5px;

    &.lbl-success {
        background-color: lighten(dbColor(SuccessColor), 30);
        color: dbColor(SuccessColor);
    }

    &.lbl-warning {
        background-color: lighten(dbColor(Warningcolor), 30);
        color: dbColor(Warningcolor);
    }

    &.lbl-danger {
        background-color: lighten(dbColor(DangerColor), 30);
        color: dbColor(DangerColor);
    }

    &.lbl-notify {
        background-color: #9cbbd2;
        color: dbColor(NotifyColor);
    }

    &.lbl-tools {
        background-color: lighten(dbColor(ToolsColor), 30);
        color: dbColor(ToolsColor);
    }

    &.lbl-info {
        background-color: lighten(dbColor(InfoColor), 30);
        color: dbColor(InfoColor);
    }

    &.lbl-muted {
        background-color: #9E9E9E;
        color: #eaeaea;
    }
}


