USE [SEBASTIAN_HR]
GO
/****** Object:  Table [dbo].[PERS_CONF_Employees_PersonalData]    Script Date: 28/05/2026 13:47:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERS_CONF_Employees_PersonalData](
	[EmployeeId] [int] NOT NULL,
	[NumSS] [varchar](20) NULL,
	[IdEmpleadoNetTime] [int] NULL,
 CONSTRAINT [PK_PERS_CONF_Employees_PersonalData] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
