USE [SEBASTIAN_HR]
GO
/****** Object:  Table [dbo].[Pers_Marcaje]    Script Date: 28/05/2026 13:47:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pers_Marcaje](
	[IdClocking] [int] NOT NULL,
	[EmployeeId] [int] NULL,
	[AllDay] [bit] NULL,
	[CardNumber] [varchar](50) NULL,
	[ClockingType] [int] NULL,
	[DateTime] [datetime] NULL,
	[IdEmployer] [int] NULL,
	[IdReader] [int] NULL,
	[IdTerminal] [int] NULL,
	[IdTimeType] [int] NULL,
	[IdZone] [int] NULL,
	[Ip] [varchar](50) NULL,
	[Source] [int] NULL,
	[State] [int] NULL,
	[Usuario] [varchar](50) NULL,
	[TimeTypeDescr] [varchar](50) NULL,
	[FechaHora] [datetime] NULL,
 CONSTRAINT [PK_Pers_Marcaje] PRIMARY KEY CLUSTERED 
(
	[IdClocking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pers_Marcaje] ADD  CONSTRAINT [DF_Pers_Marcaje_FechaHora]  DEFAULT (getdate()) FOR [FechaHora]
GO
