USE [SEBASTIAN_HR]
GO
/****** Object:  Table [dbo].[PERS_Notificaciones]    Script Date: 28/05/2026 13:47:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERS_Notificaciones](
	[IdNotificacion] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Texto] [varchar](max) NOT NULL,
	[Titulo] [varchar](1000) NOT NULL,
	[InsertedBy] [int] NOT NULL,
	[UpdateBy] [int] NOT NULL,
	[Inserted] [datetime] NOT NULL,
	[LastUpdate] [datetime] NOT NULL,
 CONSTRAINT [PK_PERS_Notificaciones] PRIMARY KEY CLUSTERED 
(
	[IdNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
