USE [SEBASTIAN_HR]
GO
/****** Object:  StoredProcedure [dbo].[PPERS_PERS_MARCAJE_SINCRONIZAR]    Script Date: 28/05/2026 13:47:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE      PROCEDURE [dbo].[PPERS_PERS_MARCAJE_SINCRONIZAR]  
 @p_Marcajes PERS_MARCAJE_TYPE READONLY  
AS  
BEGIN  
 BEGIN TRY  
  
  MERGE INTO PERS_Marcaje AS Target  
  USING (  
   SELECT * FROM @p_Marcajes  
  ) AS Source  
  ON Target.IdClocking = Source.IdClocking    
  WHEN MATCHED THEN  
   UPDATE SET  
   IdClocking = Source.IdClocking,  
   EmployeeId = Source.EmployeeId,  
   AllDay = Source.AllDay,  
   CardNumber = Source.CardNumber,  
   ClockingType = Source.ClockingType,  
   [DateTime] = Source.[DateTime],  
   IdEmployer = Source.IdEmployer,  
   IdReader = Source.IdReader,  
   IdTerminal = Source.IdTerminal,  
   IdTimeType = Source.IdTimeType,  
   IdZone = Source.IdZone,  
   [Ip] = Source.[Ip],  
   [State] = Source.[State],  
   Usuario = Source.Usuario,  
   TimeTypeDescr = Source.TimeTypeDescr  
  WHEN NOT MATCHED BY TARGET THEN  
   INSERT (IdClocking,   
     EmployeeId,  
     AllDay,  
     CardNumber,  
     ClockingType,  
     [DateTime],  
     IdEmployer,  
     IdReader,  
     IdTerminal,  
     IdTimeType,  
     IdZone,  
     [Ip],  
     [State],  
     Usuario,  
     TimeTypeDescr)  
   VALUES (Source.IdClocking,  
     Source.EmployeeId,  
     Source.AllDay,  
     Source.CardNumber,  
     Source.ClockingType,  
     Source.[DateTime],  
     Source.IdEmployer,  
     Source.IdReader,  
     Source.IdTerminal,  
     Source.IdTimeType,  
     Source.IdZone,  
     Source.[Ip],  
     Source.[State],  
     Source.Usuario,  
     Source.TimeTypeDescr)    
  --WHEN NOT MATCHED BY SOURCE THEN  
  -- DELETE  
  ;   
  
  RETURN -1  
 END TRY  
 BEGIN CATCH  
  SELECT ERROR_MESSAGE()  
  RETURN 0  
 END CATCH  
END  
  
  
GO
