/* VARIABLES */

@color-bg-icon: #bfe5ff5e;
@orange: #e5951d;
@lightgreen: #A7E1A7;
@lightyellow: #fbf8de;
@lightred: #FcB8B8;
@lightblue: #EFF8FF;
@brown: #433d0b;
@green: #03b403ed;
@red: #f04040;
@blue: #00A0FD;
@black: #656565;
@mint: #30afa9;
@lightmint: #2db7b050;
@lightgrey: #F3F5F9;
@grey: #7f7f7f;

@txt-outstanding: dbColor(outstandingColor);
@txt-notify: dbColor(NotifyColor);
@txt-danger: dbColor(dangerColor);
@text: dbColor(primaryColor);

@btn-hover: #1E88E5;
@active-color: #00D1FF;
@accent-color: #2196F3;
@active-red-color: #ff4040;
@accent-red-color: #bf2929;
@btn-active-background:#DBEEBE;
@btn-active-text: #276B2A;

@accent-color-red: dbColor(dangerColor);
@btn-active-background-red: #fdedd4;


@pager-active-back: #E4F3FF;
@pager-active-text: @accent-color;


@txt-label: #6C757D;
@txt-value: #26587f;
@txt-value-view: #777777;
@border-grey: #e2e6ebe0;
@background-light: #0e0a0a29;
@background-dark: #5e6d8d10;

@action-btn: #475668;
@new-btn: @accent-color;

@selector1: ~'div[style*="rgb(0, 160, 251)"]';
@selector2: ~'div[style*="rgb(0, 160, 252)"]';
@selector3: ~'div[style*="rgb(0, 160, 253)"]';
@selector4: ~'div[style*="rgb(176, 109, 231)"]';
@selector5: ~'div[style*="rgb(176, 109, 232)"]';
@selector6: ~'div[style*="rgb(176, 109, 233)"]';
@selector7: ~'div[style*="rgb(247, 155, 231)"]';
@selector8: ~'div[style*="rgb(247, 155, 232)"]';
@selector9: ~'div[style*="rgb(247, 155, 233)"]';
@selector10: ~'div[style*="rgb(97, 110, 121)"]';
@selector11: ~'div[style*="rgb(97, 110, 122)"]';
@selector12: ~'div[style*="rgb(97, 110, 123)"]';
@selector13: ~'div[style*="rgb(136, 96, 81)"]';
@selector14: ~'div[style*="rgb(136, 96, 82)"]';
@selector15: ~'div[style*="rgb(136, 96, 83)"]';
@selector16: ~'div[style*="rgb(0, 0, 1)"]';
@selector17: ~'div[style*="rgb(0, 0, 2)"]';
@selector18: ~'div[style*="rgb(0, 0, 3)"]';