USE [SEBASTIAN_HR]
GO
/****** Object:  Table [dbo].[PERS_Marcaje_tipo]    Script Date: 28/05/2026 13:47:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERS_Marcaje_tipo](
	[IdTipoMarcaje] [int] NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_pers_marcaje_tipo] PRIMARY KEY CLUSTERED 
(
	[IdTipoMarcaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
